@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    display: none;
  }

  ::selection {
    background-color: rgba(174, 255, 174, 0.3);
  }

}
  

:root[data-mantine-color-scheme="light"] {
  --grid-line-color: rgb(240, 240, 240);
}

:root[data-mantine-color-scheme="dark"] {
  --grid-line-color: rgb(39, 49, 46);
}

body {
  background-size: 40px 40px;
  background-position: 20px 15px;
  background-attachment: fixed;
  background-image:
    linear-gradient(to right, var(--grid-line-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-line-color) 1px, transparent 1px);
  font-family: Arial, Helvetica, sans-serif;
}
